body {
  font-family: sans-serif;
  background-color: #f8f9fa;
}
.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container {
  max-width: 1200px;
}
table img {
  border-radius: 8px;
}
footer {
  margin-top: 50px;
}

.nav-link__login {
  padding: 8px 12px !important;
  border: 1px solid #ffc107;
}

.nav-link__login:hover {
  background-color: #ffc10750;
}
